<h1>Places</h1>

<div class="row">
  <% for place in @places %>
    <div class="col-md-3 col-sm-6">
      <h4>
        <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
      </h4>
    </div>
      <% for post in @posts %>
    <div class="col-md-3 col-sm-6">

      <img src="<%= post["image"] %>" class="img-fluid">
      <p><%= post["body"] %></p>
    </div>
  <% end %>
</div>
    


  <% end %> 
</div>