<h1>Places</h1>

<div class="row">
    <div class="col-sm-2 text-end">
    <a href="/places/new/" class="btn btn-success">New Place</a>
    </div>
</div>

   <div class="row">
    <% for place in @places %>
      <h4>
        <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
      </h4>
    </div>
  <% end %> 
</div>