<h1>Places</h1>

<div class="row">
<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>

<p>
  <a href="/places/new">New place</a>
</p>